psycopg2-binary==2.9.11
streamlit
pandas
supabase
numpy 
scikit-learn
joblib
python-dotenv
langchain-google-genai
langchain
langchain-community
openpyxl
langchain-community
langchain-huggingface
chromadb
sentence-transformers
